# CONFIG
.env

# DATABASE
*.db
*.mdb

# DOCKER
docker/

# IDE
.vscode

# NPM
*.tsbuildinfo
dist/
dist-ssr/
node_modules/

# OS
.DS_Store

# PYTHON
__pycache__/
*.pyc
.pytest_cache/

# TEST
coverage/

# USER
data
notes
